html {
    height: 100%;
}
body {
    background: rgb(30,30,30);
    transition: background-color  0.25s ease-in-out;
    min-height:97%;
}
section {
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    position: absolute;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    animation-name: fadeInDown;
    animation-duration: 1s;
}
h1 {
    font-weight: 600;
    font-size: 7em;
    margin: 0;
    line-height: 1em;
}
h2 {
    font-weight: 500;
    font-size: 2em;
    margin: 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-delay: .7s;
    animation-fill-mode: forwards;
}
ul {
    padding: 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
li {
    list-style: none;
    display: inline;
}
a {
    text-decoration: none;
    padding: 0 1em;
    transition: all .5s ease-out !important;
}
a:hover {
    opacity: 0.5;
    transform: scale(1.5);
}
.fa {color: #fff;}

/* =============== MEDIA QUEIRIES =============== */
@media (max-width: 600px) {
    h1 { font-size: 5em;}
}
/* ================= ANIMATIONS =================
   From: (https://daneden.github.io/animate.css/)
*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
