//output:index.html
doctype html
html(ng-app)
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Richard Gomez: Student, Developer, Entrepreneur")
		meta(charset="utf-8")
		title Richard Gomez
		link(rel='icon' type='image/png' href='favicon.ico')
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,600,900,800,700' rel='stylesheet' type='text/css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet' type='text/css' href='css/style.css?version=6')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js')
	body(ng-style="bodyStyle")
		section
			h1(ng-mouseenter="bodyStyle={'background-color':'rgb(30,30,30)'}") Richard Gomez
			h2 {{subTitle || 'Student, Developer, Entrepreneur'}}
			ul
				li(ng-mouseenter="bodyStyle={'background-color':'#1da1f2'};subTitle='Twitter'" ng-mouseleave="subTitle = 'Student, Developer, Entrepreneur'")
					a(href="https://twitter.com/RmGomez368" class="fa fa-twitter fa-lg")
				li(ng-mouseenter="bodyStyle={'background-color':'#215081'};subTitle = 'Bitbucket'" ng-mouseleave="subTitle = 'Student, Developer, Entrepreneur'")
					a(href="https://bitbucket.org/RmGomez/" class="fa fa-bitbucket fa-lg")
				li(ng-mouseenter="bodyStyle={'background-color':'#FF4500'};subTitle = 'Reddit'" ng-mouseleave="subTitle = 'Student, Developer, Entrepreneur'")
					a(href="https://www.reddit.com/user/soul_shot" class="fa fa-reddit-alien fa-lg")
				li(ng-mouseenter="bodyStyle={'background-color':'#1B2838'};subTitle = 'Steam'" ng-mouseleave="subTitle = 'Student, Developer, Entrepreneur'")
					a(href="http://steamcommunity.com/id/rmgomez/" class="fa fa-steam fa-lg")
